*{
	margin: 5;
	padding: 5;
  }
  body{
	  background: url('../img/background.jpg');
	  background-size: cover;
	  font-family: Arial;
	  color:blue;
  }
  ::-webkit-scrollbar-track {
	  background-color:white;
  }
  
  ::-webkit-scrollbar {
	  width: 12px;
	  background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
	  border-radius: 15px;
	  background-color: #333;
  }
  
  .active {
	background-color: #333;
	color: white;
  }
  
  .navbar .icon {
	display: none;
  }
  
  .navbar {
	overflow: hidden;
	/* background-color: #333; */
	border-radius: 15px;
	background-color: white;
	opacity: .8;
  }
  
  .navbar a {
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: blue;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 25px;  
	font-family: Helvetica, Arial, sans-serif;
	border: none;
	outline: none;
	color: blue;
	padding: 20px 20px;
	background-color: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: blue;
	color:white;
	cursor: pointer;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color:white;
	min-width: 140px;
	box-shadow: 0px 8px 16px 0px black;
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: blue;
	background-color: white;
	opacity: .8;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color:blue;
	color:white;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

h1{
	color:white;
	position: absolute;
	margin-top: 250px;
}

.search input{
	display: inline-block;
	width: 300px;
	height: 30px;
	padding-left: 1em;
	margin-top: 0px;
	margin-left: 10px;
	opacity: .8;
	border-radius: 20px;
}

.search i{
	position: relative;
	left:30px;
}

.search img{
	width:30px;
	height: 30px;
	position: relative;
	left: -42px;
	top: 12px;
	opacity: .15
}

select{
	width:100px;
	height:40px;
	font-size:20px;
}

input{
	width:120px;
	height:40px;
	font-size:15px;
}

#custom-button1 {
    padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
  }
  
#SAJSON{
    padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
}

#SAXML{
    padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
}

#SACSV{
    padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
}

#SA{
    padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
}

#RS{
    padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
}

#RS:hover {
    background-color: #5654ce;
  }

#custom-button1:hover {
    background-color: #5654ce;
  }
  
#SAJSON:hover {
    background-color: #5654ce;
  }

#SAXML:hover {
    background-color: #5654ce;
} 

#SACSV:hover {
    background-color: #5654ce;
}

#SA:hover {
    background-color: #5654ce;
  }

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  

.display-element{
	background-color: white;
	opacity:.8;
	border-left: 20px;
	position: relative;
	top:150px;
}
.red{
	color: red;
	margin-left: 50px;	
}
.black{
	color: black;
	margin-left:30px;
}

.italic{
    font-style: italic;
}

.checkbox{
	widows: 15px;
	height: 15px;
}

.newlink{
	margin-left: 30px;
}

#filetype2{
	width:180px;
}

.btn-submit{
	padding: 10px;
    color: white;
    background-color: rgb(59, 59, 214);
    border: 1px solid #000;
    border-radius: 5px;
	cursor: pointer;
}

#src-text{
	border-radius:10px; 
	width: 500px;
	margin-left: 15px;
	margin-top: 15px;
}
